@import url(http://fonts.googleapis.com/css?family=Lato);
@import url("normalize.css");

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------------------*/


.header-container {
	background-color: #252525;
	color: #fff;
}

body{
	font: 16px/26px 'Lato', sans-serif;
}
.rubber{
	width:973px;
	padding:0 10px 0 15px;
	margin:0 auto;
	position:relative;}
.wrapper{
	overflow:hidden;}

/* ===============HEADER============== */

.header-container img{
	padding:0 0 0 20px;
}

/* ============MAIN SECTION=========== */

.content{
	padding:40px 0 0;
}

.content .video_container{
	display: inline-block;
	text-align: center;
	width: 100%;

	margin-bottom: 30px;
}

.content .video_container iframe{
	width: 70%;
	margin: auto;
	height: 270px;
}
.content .main_block{
	display:inline-block;
	vertical-align:top;
	text-align: center;

	width: 100%;
}
.content .main_block h1{
	font:34px/38px 'Lato', sans-serif;
	color:#666666;
	padding:0;

	margin: auto;

	width: 70%;
}
.content .main_block .line{
	margin:12px 0;
	height:1px;
	border-bottom:1px solid #e1dbd1;
}

.content .main_block p{
	font:17px/21px Arial, Helvetica, sans-serif;
	color:#666666;
	margin:0 -15px 30px 0;}

.content form{
	margin-top: 20px;
	margin-bottom: 20px;
}

.content .form *{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size:17px;
}
.content .form input[type="text"], .content .form input[type="email"]{
	width:400px;
	height:40px;
	border:1px solid #c7c7c7;
	padding:0 10px;
	color:#bcbcbc;
	margin:0 0 22px;
}

.content .form input[type="text"]:focus, .content .form input[type="email"]:focus {
	color: #7b7b7b;
}
.content .form .btn{
	display:inline-block;
	border: none;
	width:250px;
	text-decoration:none;
	height:40px;
	text-align:center;
	background-color: #3e3e42;
	border:1px solid #c7c7c7;
	color:#ffffff;

}
.content .form .invalid{
	border-color:#ff0000!important;}

.content .features{
	padding:39px 0 47px;
	border:1px solid #e1dbd1;
	border-right:none;
	border-left:none;}
.content .features .item{
	width:305px;
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 0;}

.content .features .item h2{
	font:bold 29px/30px Arial, Helvetica, sans-serif;
	color:#666666;}
.content .features .item p{
	font:18px/22px Arial, Helvetica, sans-serif;
	color:#666666;}
.content .features .item_1{
	margin:0;}
.content .features .item_2{
	margin:0 0 0 15px;
}

.content .features .item_3{
	margin: 0 0 0 15px;
}

/* ===============FOOTER============== */
footer{
	text-align:center;
	padding:10px 0 10px 0;}
footer p{
	color:#c3bdb1;
	font:14px/16px Arial, Helvetica, sans-serif;}

/* ===========MEDIA QUERIES========== */
@media only screen and (min-width: 664px) and (max-width: 990px) {

	.rubber{
		width:662px;
	}

	.content iframe{
		height:303px;
		margin-top:31px;
	}

	.content .main_block{
		width:662px;
	}

	.content .main_block h1 {
		width:662px;
		margin:0 auto;
	}

	.content .main_block p {
		width:662px;
		margin:15px auto;
	}

	.content .form{
		margin:0 auto 0 auto;
		width:380px;
	}

	.content .form input[type="text"], .content .form input[type="email"] {
		width: 380px;
	}

	.content .form .btn {
		width: 380px;
	}

	.content .features .item_3 {
		margin: 30px auto 0;
		display:block;
	}
}

@media only screen and (max-width:663px){
	.rubber{
		width:300px;
		padding: 0 10px 0 10px;
	}

	.content iframe{
		height: 200px;
	}
	header .logo {
		margin: 0 auto;
	}

	.content {
		padding: 55px 0 0;
	}
	.content .main_block h1 {
		font: 31px/35px Arial, Helvetica, sans-serif;
		width:300px;
		margin:0 auto;
	}

	.content .main_block p {
		width:290px;
		margin:15px auto;
	}

	.content .form{
	}

	.content .form input[type="text"], .content .form input[type="email"] {
		width: 100%;
	}
	.content .form .btn {
		width:100%;
	}

	.content .features .item_1{
		margin: 0 0 30px 0;
	}

	.content .features .item_2 {
		margin: 0 0 50px 0;
	}

	.content .features .item_3{
		margin: -10px 0px 0 -5px;
	}
}